@import "tailwindcss";

@layer base {
  :root {
    --pitch-green: #00ff87;
    --cyber-cyan: #00f0ff;
    --gold-trophy: #ffd700;
  }

  body {
    background-color: #040609;
    color: #f8fafc;
    overflow: hidden;
    user-select: none;
    -webkit-font-smoothing: antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #090d16;
  }

  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #00ff87;
  }
}

/* Scanline and Cyber Glow Utilities */
.stadium-scanlines {
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.25) 50%
  ), linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.03),
    rgba(0, 255, 0, 0.01),
    rgba(0, 0, 255, 0.03)
  );
  background-size: 100% 3px, 6px 100%;
}
